body {
    background-color:#FFCC80;
}

#titelwrap {
    width:100%;
    height:60px;
    display:block;
    overflow:hidden;
    position:fixed;
}

#menuwrap {
    background-color: #EF6C00;
}

.block {
    width: 170px;
    height: 50px;
    float: left;
    box-shadow: 1px 4px 7px #333;
    cursor: pointer;
}

#menutext {
    vertical-align: top;
    text-transform: uppercase;
    display: inline-block;
    font-size: 1.5em;
    margin-left: 61%;
    margin-top: 16%;
    font-weight: 600;
    letter-spacing: 1px;
    color: #FFF3E1;
    font-family: 'PT Sans', sans-serif;
}

#menutextdiv {
    float:left;
}

#hamburgerwrap {
    float:left;
}

.hamburger {
    width:30px;
    height:4px;
    background-color:white;
    margin-left: 40%;
    position:relative;

}

#top {
    margin-top:36%;
    transition: all .25s ease;
}

#middle {
    margin-top:30%;
    transition: all .25s ease;
}

#bottom {
    margin-top:30%;
    transition: all .25s ease;
}


#duimpje {
    margin-top: 75px;
    width: 9%;
    position: relative;
    cursor:pointer;
    opacity: 1;
}

#duimpje.show {
    opacity:1;
}

#duimpjepic {
    width:100%;
}

.crossleft {
    margin-top:24px !important;
    transform:rotate(45deg);
}

.displaynone {
    display:none;
    transition: all .25s ease;
}

.crossright {
    margin-top:-4px !important;
    transform:rotate(135deg);
}

#guardians {
    height:50px;
    width:170px;
    float:left;
    position:absolute;
    display:inline;
    background-image: url("../img/thumbguard.png");
    margin-left:200px;
    opacity: 1;
}


#guardians.show {
    opacity:1;
}

#guardians:hover {
    background-image:url("../img/thumbguardhover.png");
    transition: all .25s ease;
}

#alistar {
    height:50px;
    width:170px;
    float:left;
    position:absolute;
    display:inline;
    background-image: url("../img/thumbalist.png");
    margin-left:400px;
    opacity: 1;
}

#alistar.show {
    opacity:1;
}

#alistar:hover {
    background-image:url("../img/thumbalisthover.png");
    transition: all .25s ease;
}

#jfk {
    height:50px;
    width:170px;
    float:left;
    position:absolute;
    display:inline;
    background-image: url("../img/thumbjfk.png");
    margin-left:600px;
    opacity: 1;
}

#jfk:hover {
    background-image:url("../img/thumbjfkhover.png");
    transition: all .25s ease;
}
